/*SECTION PORTFOLIO*/
.row {
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}

.card {
    border: none!important;
    text-align: center;
    width: 23rem;
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
}
.card:last-child {
    margin-right: 0;
    
}

.card-title {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
}
p.card-text {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-transform: lowercase;
    color: #424242;
}


.divImg {
    position: relative;
}

.divImg img {
    display: block;
}
.divImg .icons {
    position: absolute;
    top: 50%;
    left:50%;
    display: flex;
    transform: translate(-50%, -50%);
}


.cardBodyPortfolio {
    position: relative;
}

.cardOnHover .icons{
    display: none;
}

.cardOnHover:hover .icons{
    display: flex;
}

/*SLIDER*/

.awssld__content {
    background-color: #fff!important;
}