@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #ffc533!important;
}

.div-body {
    margin: 1rem;
}

/*IMAGE */
.image-header {
    background-image: url("../../assets/australia.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*ABOUT*/
#about .img-about, .div-about {
    padding-left: 17px;
    padding-right: 17px;
}

/*social icon after iamge*/

.socialicons img {
    width: 25px;
}
.socialicons.nav {
    justify-content: center;
}
.socialicons .nav-item a {
    padding: 0.5rem;
}


.class-before h2 {
    line-height: 1em!important;
    font-weight: 800!important;
    font-size: 1rem!important;
    letter-spacing: -0.05em;
    word-break: normal;
}

.class-before:before {
    content: "";
    display: block;
    width: 20px;
    border-top: 1px solid #707070;
    margin-bottom: 2vw;
}



#about {
    padding: 6vw 10%;
    display: flex;
    background-color: #fff;
}

#about h2 {
    font-family: 'Reenie Beanie', cursive;
    margin: .67em 0;
    color: #ffc533;
    font-size: 2.5rem;
}
#about p {
    margin: 0 auto;
    text-align: left;
    font-weight: 300;
    font-style: normal;
    font-size: 19px;
    letter-spacing: .05em;
    line-height: 1.6em;
    text-transform: none;
    color: rgba(29,29,29,.7);
}
.div-about {
    margin-left: -5rem;
    background-color: #fff;
    height: auto;
    width: 90%;
    padding: 10%;
}
.div-about h5 {
    color: #1d1d1d;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    letter-spacing: 0em;
    line-height: 1.4em;
    text-transform: none;
}

/* div yellow */
.div-yellow {
    height: 200px;
}
@media all and (max-width: 1170px) { 
    
    #about {
        flex-direction: column;
    }
    #about p {
        max-width: none;
    }
    h2.class-before {
        padding-bottom: 2rem;
    }
}

@media all and (max-width: 908px) { 
    
    #about p {
        max-width: none;
        padding: 0 1rem;
    }
    .card {
        width: auto;
    }
    h2.class-before {
        padding: 0;
    }
}

@media all and (max-width: 500px) { 
    
    footer {
        padding: 2rem 10%;
    }
    .contact-social {
        flex-direction: column;
        padding-top: 2rem;
    }

    
}