@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body{
    font-family: 'Courier Prime', monospace;
}

p{
    text-align: center;
}

#about p {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

@media all and (max-width: 908px) { 
    
    #about p {
        max-width: none;
        padding: 0 1rem;
    }
    .card {
        width: auto;
    }
}

