/*languages*/

.menuLanguage {
    justify-content: flex-end!important;
    padding: 0!important;
}

.menuLanguage img {
    width: 2rem;
}
.navbarMenu {
    display: block;
}
.menuLanguage .nav-link {
    padding: 0;
    padding-top: 0.7rem;
    margin-right: 0.7rem;
    cursor: pointer;
}

/*Menu*/
a.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    display: flex;
    justify-content: center;
}
.navbarMenu {
    padding: 0;
    justify-content: center!important;
}
.menu hr {
  width: 1000px;
}

/*submeu*/
.nav-link {
    color: #000!important;
    text-transform: uppercase;
}

@media all and (max-width: 850px) { 
    
  
    .menu hr {
        width: 450px;
      }
      
 }


 @media all and (max-width: 516px) { 

    .menu hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 300px;
    }
  }
